body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

.search-section, .package-table {
    margin-bottom: 20px;
}

.search-section input[type='button'], 
.search-section input[type='text'] {
    padding: 10px;
    margin: 10px 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.search-section input[type='button']:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 15px;
}

th {
    background-color: #f8f8f8;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    color: #0275d8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .search-section input[type='text'] {
        width: auto;
    }
}

.upload-package-page {
    width: 400px;
    margin: 0 auto;
    padding: 20px 40px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.package-details {
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
    
  }
  
.package-details h2,
.package-details h3 {
color: #333;
font-family: 'Arial', sans-serif;
}

.package-details p {
color: #666;
font-family: 'Arial', sans-serif;
margin-bottom: 10px;
}

.download-button {
    padding: 10px;
    margin: 10px 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    
  }

  :focus {
    outline: 2px solid blue; /* Visible focus outline */
    outline-offset: 2px; /* Space between outline and element */
}